@import "base";
@import "utilities";

.main-content {
  // position: relative;
  .post-wrapper {
    // position: absolute;
    margin: 0 auto;
    .post-header {
      font-size: 12px;
      // font-family: Helvetica, Arial, sans-serif;

      i {
        font-size: 18px;
        margin-inline: 2px;
      }
    }

    &__paragraph {
      font-size: 20px;
      font-family: $font-display;
      font-weight: 400;
      color: #292929;
    }

    .post-tag-list {
      .bg-grey {
        background-color: #e0dcdc;
        font-size: 13px;
      }
    }

    .icons {
      i {
        font-size: 18px;
        margin-inline: 2px;
      }
    }
  }
  .intro {
    font-size: 1.3rem;
    padding: 1.2rem;
    border: 1px solid #eee;
    background-color: #eee;
    margin: 2rem 0;
    display: inline-block;
    a {
      color: #000;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.main-post {
  width: 70% !important;
  margin: auto !important;
  // overflow-y: auto;
  // display: grid !important;
  // grid-template-columns: 1fr 5fr;
  display: flex;
  .side-noti {
    // position: relative;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    font-size: 13px;
    font-weight: 400;
    top: 0;
    padding: 5rem;
    margin-top: 8rem;

    h3 {
      display: inline-block;
      font-weight: 650 !important;
      margin: 1.5rem;
    }
  }
}

.recommended-section {
  margin: 4rem 0;
  .recommended-post {
    font-size: 14px;

    .post-title {
      font-weight: 500;
      font-family: $font-display;
      color: #292929;
    }

    .post-link {
      font-size: 12px;
    }

    img {
      height: 70px;
      width: 70px;
    }
  }
  h3 {
    font-weight: 600;
  }
}

.bg-custom {
  background: darkcyan;
}

.side-noti {
  // width: 20%;
  font-size: 1.2rem;
  h2 {
    font-weight: 550;
  }
  .follow-link {
    padding: 1rem 2rem;
  }
}

.post-header {
  img {
    border: 1px solid $text-color-link;
  }
  .follow-link {
    padding: 0.5rem 1rem;
  }
  .fa-star {
    font-size: 1rem !important;
  }
  .name {
    font-size: 1.5rem;
  }
  .time {
    font-size: 1.2rem;
    color: $text-gray-color;
    font-weight: 500;
  }
}

.photo-by {
  color: $text-gray-color;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.post-like {
  font-size: 1.5rem;
}
.follow {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.follow-container {
  margin: 2rem 0;
  .details {
    font-size: 1.2rem !important;
    width: 50%;
    margin: 1rem 2rem;

    .details-content {
      font-size: 1.2rem;
      color: #b5b5b5;
      font-weight: 550;
    }
  }
  .follow-container-img {
    border-radius: 50%;
    height: 9rem;
    border: 1px solid $text-color-link;
  }
  .follow-link {
    font-size: 1rem;
    padding: 0.8rem 1.8rem !important;
  }
}
