<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <title>Add author</title>
  <link rel="stylesheet" href="../css/add-post.css" />
  <script src="./scripts/add-author.js" defer></script>
</head>

<body>
  <div class="post-form">
    <div class="title">
      <h3>Add an author</h3>
    </div>
    <br />
    <form method="post" enctype="multipart/form-data">
      <label>Name</label>
      <input type="text" name="name" id="name" placeholder="Enter author name" value="" /><br />
      <label>Short introduction</label>
      <input type="text" name="short_intro" id="short_intro" placeholder="Enter short introduction" value="" /><br />
      <!-- <label>Choose an image</label>
      <input type="file" name="avatar" id="avatar" /><br /> -->
      <div class=" btn-submit">
        <input type="submit" />
      </div>
    </form>
  </div>
</body>

</html>