<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Post</title>
</head>

<body>
    <div class="w-100 d-flex flex-wrap">
        <span class="w-25 side-noti">
            <h6>Fearless She Wrote</h6>
            <div>This is a space to empower differences, tell our stories…</div>
            <span class="badge rounded-pill bg-custom text-white mt-2 p-2">Follow</span>
            <hr>
            <span class="mr-3">
                <i class="far fa-thumbs-up"></i>
                315
            </span>
            <span>
                <i class="far fa-comment-alt"></i>
                4
            </span>
        </span>

        <!-- main content -->
        <div class="w-50 mt-5 main-content">
            <div class="post-wrapper">
                <h2> What Mothers and Childfree Women Have In Common</h2>

                <span class="text-secondary font-weight-bold">Our lives may look different, but we can all relate to
                    this</span>
                <!-- post header -->
                <div class="post-header d-flex  mt-3 px-0">
                    <img class="rounded-circle" src="https://miro.medium.com/fit/c/38/38/0*HBZey0gA5wdrIuN0">
                    <span class="ml-2">
                        <span class="w-100 d-block">Elise LaChapelle
                            <span class="badge rounded-pill bg-custom text-white ml-2 p-2">Follow</span>
                        </span>
                        <span>Nov 10 . 4 min read</span>
                    </span>
                    <span class="ml-auto align-self-end">
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fas fa-link"></i>
                        <i class="fas fa-ellipsis-h"></i>
                    </span>
                </div>

                <div class="mx-auto">
                    <img class="w-100 mt-4" src="https://miro.medium.com/max/700/1*1FO9_wdMf9DHdEDTG9vifw.jpeg"
                        alt="family">
                    <span class="d-block text-center mt-3">Photo by <u>Vlada Karpovich</u> from Pexels </span>
                </div>
                <!-- <p class="post-wrapper__paragraph mt-3">
                    Some time ago, I wrote a deeply personal and brutally honest essay entitled, “I Don’t Want More Kids.”
                    Hitting “publish” and then “share” set my nerves on edge. My social media channels are full of peers who
                    have struggled (or are struggling) to have children, who can’t wait to have more children, or who aren’t
                    having any more children but certainly didn’t stop at two the way my husband and I did. Making such a bold
                    claim right there in the essay’s title, I braced myself for angry tirades and sanctimonious lectures. What I
                    didn’t expect was to be inundated with something else entirely.
                    Personal stories began pouring in under my Facebook post, through my Instagram DMs, and even via Facebook
                    Messenger. Moms of one fielding questions about having more kids anytime they left the house. Moms of one
                    boy and one girl being told they have the “perfect family.” Moms of two same-sex kids getting asked if they
                    would try for a girl or a boy, whichever one they didn’t have. Moms of three who used to get those
                    questions, but not so much anymore. A mom of four who shared that she still did.
                    It was one thing to state that I didn’t want more kids and hear from women who had them, but my story also
                    reached plenty of women with no children at all. I got almost as many messages from the childfree as I did
                    from those with kids. Childfree women, it turned out, had faced just as much questioning from family and
                    strangers alike for having zero kids as the women who did have kids, but were somehow perceived as having
                    the incorrect number.
                    I heard from women of every age, hailing from various regions of the country and spanning the political
                    spectrum. They included devout Christians, secular Jews, city dwellers, suburbanites, and everything in
                    between. Everyone had a story to tell, and as much as they differed, a sobering common thread began to
                    emerge.
                    Every woman, no matter her personal story, had faced judgment for her reproduction, or lack thereof. Whether
                    they had zero children or many, all of them inhabited a society where their bodies, and what they did or
                    didn’t do with them, were fodder for public comment. And as much as both camps had been on the receiving end
                    of that judgment, each assumed that the other group got less of it.
                    For many of those women, that judgment was made all the more galling by just how many of those reproductive
                    decisions were beyond their control. Women shared stories of struggling with infertility and ultimately
                    finding joy in the number of children they were able to have, even if fewer than they’d once pictured. So
                    too had childfree women built happy, fulfilled lives, even if they’d grown up imagining themselves becoming
                    mothers one day. Some had never found the right partner and were uninterested in becoming single mothers;
                    others simply enjoyed their lives as they were and didn’t feel compelled to have children, even if they had
                    once assumed they would. It turned out that all of these women had indeed made choices, even if some of
                    their reproductive choices had been made for them. They chose to embrace and love their lives.
                    I had written the original story because I too embraced and loved mine. I have two children with absolutely
                    no desire to have a third. As one of three children myself, I always assumed I too would have three children
                    one day. Still, I’ve found that I’m perfectly happy with two, just as mothers of more, fewer, or no children
                    at all have found that their lives have taken shape in different ways than they may have once thought- yet
                    they wouldn’t change a thing.
                    The stories I heard shed new light on just how unfair societal judgment can be, but also that it seems to
                    find its way to all women, no matter their reproductive status. If women with children find fulfillment in
                    motherhood, yet still felt judged for how many children they have or don’t have, and childfree women find
                    fulfillment through career, hobbies, and relationships, yet still felt judged for not having children, could
                    it be that members of both groups are actually equal in their individual value and legitimacy? And could it
                    be that the judgment that a woman receives has far less to do with how many or how few children she has, and
                    more to do with the fact that she is, quite simply, a woman?
                    I will never know what my life would have been like without my children. The stories I’ve heard, however,
                    have convinced me that my life would be no better or worse, only different. I certainly wouldn’t be immune
                    to unwanted comments. I’ve learned that women have nothing to gain by envying or critiquing each other, and
                    should be more concerned with the society around us- with all its customs, institutions, and laws- that
                    would dare judge us.
                </p> -->

                <!-- tag list -->
                <div class="post-tag-list mt-3">
                    <span class="bg-grey p-2 mr-1">Motherhood</span>
                    <span class="bg-grey p-2 mr-1">Repreductive Rights</span>
                    <span class="bg-grey p-2 mr-1">Childfree</span>
                    <span class="bg-grey p-2 mr-1">Feminism</span>
                    <span class="bg-grey p-2 mr-1">Women</span>
                </div>

                <div class="post-like mt-4 d-flex">
                    <span class="mr-3">
                        <i class="far fa-thumbs-up"></i>
                        315
                    </span>
                    <span>
                        <i class="far fa-comment-alt"></i>
                        4
                    </span>
                    <span class="icons ml-auto align-self-end">
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fas fa-link"></i>
                        <i class="fas fa-ellipsis-h"></i>
                    </span>
                </div>

                <hr>

                <!-- follow section -->
                <div class="follow">
                    <div class="d-flex">
                        <img class="rounded-circle" src="https://miro.medium.com/fit/c/64/64/0*HBZey0gA5wdrIuN0"
                            alt="img">
                        <span class="ml-3 w-75">
                            <div>WRITTEN BY</div>
                            <h5>Elise LaChapelle</h5>
                            <span>Freelance writer, business owner, fitness fanatic, mom of girls</span>
                        </span>
                        <span class="ml-auto mt-3">
                            <span class="badge rounded-pill bg-custom text-white p-2">Follow</span>
                        </span>
                    </div>

                    <div class="d-flex mt-5">
                        <img class="rounded" src="https://miro.medium.com/fit/c/64/64/1*uRk4AIAaQuWNtE8ofIYrcw.png"
                            alt="img">
                        <span class="ml-3 w-75">
                            <h5>Fearless She Wrote</h5>
                            <span>This is a space to empower differences, tell our stories, and share our lives
                                together. We
                                will not be silenced. We will be fearless. And we will write.</span>
                        </span>
                        <span class="ml-auto mt-3">
                            <span class="badge rounded-pill bg-custom text-white p-2">Follow</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- more from medium -->
    <div class="recommended-section w-75 mx-auto mt-5">
        <h5>More From Medium</h5>
        <hr>
        <div class="recommended-post d-flex mt-4">
            <div class="col-3 pl-0 d-flex">
                <div class="d-flex w-75 flex-wrap">
                    <span class="post-title col-12 px-0">
                        on the pleasures of bloody, ordinary, and mundane things in liberation¹
                    </span>
                    <a class="post-link text-secondary"
                        href="https://medium.com/transgressions-a-series-of-becoming">connie
                        ni
                        chiu
                        in
                        transgressions: a
                        series
                        of becoming</a>
                </div>
                <span>
                    <img src="https://miro.medium.com/max/560/1*Lcr4DTupBr6Jx7yhMAbC7g.jpeg" alt="img">
                </span>
            </div>

            <div class="col-3  d-flex">
                <div class="d-flex w-75 flex-wrap">
                    <span class="post-title col-12 px-0">
                        The Balance
                    </span>
                    <a class="post-link text-secondary" href="https://medium.com/transgressions-a-series-of-becoming">
                        Juhee Gandhi</a>
                </div>
                <span>
                    <img src="https://miro.medium.com/max/1400/1*k2Xiblfm2g36B9DjAQaL7g.jpeg" alt="img">
                </span>
            </div>

            <div class="col-3 d-flex">
                <div class="d-flex w-75 flex-wrap">
                    <span class="post-title col-12 px-0">
                        The Confidence Gap May Not Be Real But The Backlash Against Confident Women Is.
                    </span>
                    <a class="post-link text-secondary"
                        href="https://medium.com/transgressions-a-series-of-becoming">Kate
                        Taylor
                        in
                        Candour</a>
                </div>
                <span>
                    <img src="https://miro.medium.com/max/4800/0*PrKJHwtKV0EcN3HI" alt="img">
                </span>
            </div>


            <div class="col-3 d-flex">
                <div class="d-flex w-75 flex-wrap">
                    <span class="post-title col-12 px-0">
                        About Us — Hot Quants </span>
                    <a class="post-link text-secondary"
                        href="https://medium.com/transgressions-a-series-of-becoming">Annie
                        -
                        Kerry - Kristin</a>
                </div>
                <span>
                    <img src="https://miro.medium.com/max/1400/1*7vf5M2hO8zdmwEuh7ODekg.png" alt="img">
                </span>
            </div>

        </div>
    </div>
</body>

</html>