<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/tag.css" />
  </head>
  <body>
    <div class= "container">
      <div class= "heading">TAGGED IN</div>
      <h1 class="heading-title">Feminism</h1>
     </div>
  <div class="img-quote"><a class="img-quote" href="https://medium.com/fearless-she-wrote" title="Go to Fearless She Wrote" aria-label="Go to Fearless She Wrote">
    <img src="https://cdn-images-1.medium.com/fit/c/45/45/1*uRk4AIAaQuWNtE8ofIYrcw.png" class="avatar-image" alt="Fearless She Wrote">
    </a>
    </div>
  <div class="quote">Fearless She Wrote</div>
  <div class="paraleft">This is a space to empower differences, tell our stories, and share our lives together. We will not be silenced. We will be fearless. And we will write.</div>
    <a href="https://medium.com/fearless-she-wrote/about" class="moreinfor">More information</a>
  <div class="follow">
    <span class="follow">FOLLOWERS 18.7K</span>
  </div>
  <div class="else">
    <span class="else">ELSEWHERE</span>
  </div>
  </body>
</html>
