<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/tag.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/footer.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css" />
  <title>Feminism</title>
</head>

<body>
  <div class="header">
    <div class="items">
      <div class="left-items">
        <a href="index.html">
          <img src="../images/medium-icon.png" alt="Medium" />
        </a>
      </div>
      <div class="right-items">
        <div class="signin">
          <a href="#">Sign in</a>
        </div>
        <div class="get-started">Get started</div>
      </div>
    </div>
    <hr />
    <div class="nav">
      <div class="nav__content">
        <div class="nav__content__img">
          <img src="../images/feminism.png" />
        </div>
        <div class="nav__content__items">
          <a href="#" class="nav__content__items__link">feminism</a>
          <a href="#" class="nav__content__items__link">culture</a>
          <a href="#" class="nav__content__items__link">relationships</a>
          <a href="#" class="nav__content__items__link">sexuality</a>
          <a href="#" class="nav__content__items__link">women</a>
          <a href="#" class="nav__content__items__link">write for us</a>
          <a href="#" class="nav__content__items__link">submission guidelines</a>
          <a href="#" class="nav__content__items__link">&#124;</a>
          <a href="#" class="nav__content__items__link">patreon</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tag">
    <div class="tag__title">
      <p class="tag__title__tagged">tagged in</p>
      <p class="tag__title__feminism">Feminism</p>
    </div>
    <div class="tag__container">
      <div class="tag__container__left">
        <div class="tag__container__left__title">
          <img src="../images/feminism.png" alt="feminism" />
          <p>Fearless she wrote</p>
        </div>
        <div class="tag__container__left__intro">
          <p>
            This is a space to empower differences, tell our stories, and
            share our lives together. We will not be silenced. We will be
            fearless. And we will write.
          </p>
        </div>
        <div class="tag__container__left__link">
          <a href="about.html">More information</a>
        </div>
        <div class="tag__container__left__social">
          <p class="tag__container__left__social__title">followers</p>
          <p class="tag__container__left__social__detail">18.7k</p>
        </div>
        <div class="tag__container__left__social">
          <p class="tag__container__left__social__title">elsewhere</p>
          <p class="tag__container__left__social__detail">
            <i class="fas fa-envelope"></i>
            <i class="fab fa-twitter"></i>
          </p>
        </div>
        <div class="tag__container__left__social">
          <p class="tag__container__left__social__title">more, on medium</p>
          <p class="tag__container__left__social__detail__feminism">
            Feminism
          </p>
        </div>
      </div>
      <div class="tag__container__right">
        <div class="tag__container__right__person">
          <img src="../images/avatar.jpg" alt="avatar" />
          <div class="tag__container__right__person__info">
            <div class="tag__container__right__person__title">
              <span class="tag__container__right__person__title__name" id="person-name">Elise LaChapelle</span><span
                class="tag__container__right__person__title__in">
                in </span><span class="tag__container__right__person__title__name" id="person-fearless">Fearless She
                Wrote</span>
            </div>
            <div class="tag__container__right__person__time">
              <span>Nov 10 &middot; </span>
              <span>4 minus read</span>
              <span><i class="fas fa-star"></i></span>
            </div>
          </div>
        </div>
        <div class="tag__container__right__img">
          <a href="post.html"><img src="../images/tag_post.jpeg" alt="tag_post_img" /></a>
        </div>
        <div class="tag__container__right__post">
          <a href="post.html">
            <h2>What Mothers and Childfree Women Have In Common</h2>
          </a>
        </div>
        <div class="tag__container__right__post">
          <a href="post.html">
            <p>
              Our lives may look different, but we can all relate to ...
            </p>
          </a>
        </div>
        <div class="tag__container__right__post__more">
          <a href="#">
            <p>Read more ...</p>
          </a>
        </div>
        <div class="tag__container__right__response">
          <div class="tag__container__right__response__left">
            <i class="fas fa-hand-holding-heart"></i> 335
          </div>
          <div class="tag__container__right__response__right">
            <span><a href="#">4 responses</a></span>
            <span class="tag__container__right__response__right__bookmark"><a href="#"><i
                  class="far fa-bookmark"></i></a></i><i class="fas fa-bookmark hidden"></i></span>
          </div>
        </div>
        <div id="hover-person" class="tag__container__right__hover-name hidden">
          <div class="details">
            <div class="details__wrap">
              <div class="name">
                <h2>Elise LaChapelle</h2>
              </div>
              <div class="member-info">Medium member since Mar 2021</div>
              <div class="job">Freelance writer, business owner, fitness fanatic, mom of girls.</div>
            </div>
            <div class="details__img">
              <img src="../images/avatar.jpg" alt="avatar">
            </div>
          </div>
          <hr />
          <div class="follow">
            <div class="people">Followed by 130 people</div>
            <div class="follow-link">Follow</div>
          </div>
        </div>

        <div id="hover-fearless" class="tag__container__right__hover-name fearless hidden">
          <div class="details">
            <div class="details__wrap">
              <div class="name">
                <h2>Fearless She Wrote</h2>
              </div>
              <div class="job">This is a space to empower differences, tell our stories, and share our lives together.
                We will not be silenced. We will be fearless. And we will write.</div>
            </div>
            <div class="details__img">
              <img src="../images/feminism.png" alt="avatar">
            </div>
          </div>
          <hr />
          <div class="follow">
            <div class="people">Followed by 18.7K people</div>
            <div class="follow-link">Follow</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer__container">
      <div class="footer__container__text">
        <div class="footer__container__message">
          <div class="footer__container__message__title">
            <a href="#">Learn more.</a>
          </div>
          <div class="footer__container__message__details">
            Medium is an open platform where 170 million readers come to find
            insightful and dynamic thinking. Here, expert and undiscovered
            voices alike dive into the heart of any topic and bring new ideas
            to the surface.
          </div>
          <div class="footer__container__message__link">
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="footer__container__message">
          <div class="footer__container__message__title">
            <a href="#">Make Medium yours.</a>
          </div>
          <div class="footer__container__message__details">
            Follow the writers, publications, and topics that matter to you,
            and you’ll see them on your homepage and in your inbox.
          </div>
          <div class="footer__container__message__link">
            <a href="#">Explore</a>
          </div>
        </div>
        <div class="footer__container__message">
          <div class="footer__container__message__title">
            <a href="#">Write a story on Medium.</a>
          </div>
          <div class="footer__container__message__details">
            If you have a story to tell, knowledge to share, or a perspective
            to offer — welcome home. It’s easy and free to post your thinking
            on any topic.
          </div>
          <div class="footer__container__message__link">
            <a href="#">Start a blog</a>
          </div>
        </div>
      </div>
      <hr />
      <div class="footer__container__bottom">
        <div class="footer__container__bottom__img">
          <img src="../images/white-logo.png" alt="medium" />
        </div>
        <div class="footer__container__bottom__items">
          <div class="footer__container__bottom__items__link">About</div>
          <div class="footer__container__bottom__items__link">Write</div>
          <div class="footer__container__bottom__items__link">Help</div>
          <div class="footer__container__bottom__items__link">Legal</div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const bookmark_regular = document.querySelector('.far.fa-bookmark');
  const bookmark_solid = document.querySelector('.fas.fa-bookmark');
  const personName = document.querySelector('#person-name');
  const hoverPerson = document.querySelector('#hover-person');

  const personFearless = document.querySelector('#person-fearless');
  const hoverFearless = document.querySelector('#hover-fearless');

  personName.addEventListener('mouseover', () => {
    hoverPerson.classList.remove('hidden');
  });
  personName.addEventListener('mouseout', () => {
    hoverPerson.classList.add('hidden');
  });

  personFearless.addEventListener('mouseover', () => {
    hoverFearless.classList.remove('hidden');
  });

  personFearless.addEventListener('mouseout', () => {
    hoverFearless.classList.add('hidden');
  })

  const toogle_bookmark = () => {
    bookmark_regular.classList.toggle('hidden');
    bookmark_solid.classList.toggle('hidden');
  }
  bookmark_regular.addEventListener('click', toogle_bookmark);
  bookmark_solid.addEventListener('click', toogle_bookmark);

</script>

</html>